body,
html {
  padding: 0;
  margin: 0;
  font-family: consolas;
  background-color: rgb(20, 20, 20);
  color: rgb(236, 236, 236);
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bio {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bio .bio-container {
  text-align: center;
}

.bio .title {
  font-size: 6rem;
  position: relative;
  padding: 30px;
}

.bio .subtitle {
  font-size: 2rem;
}