doctype html 
html(lang='en')
  head 
    title Dan Scott | Software Engineer based in Bristol 
    style 
      include index.css
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description' content='Dan Scott, Software Engineer in Bristol')
  body 
    img.mt-1(src='/static/img/profile.jpg' alt='profile picture')
    h1 Dan Scott  
    h2 Software Engineer based in Bristol 
    ul.mt-1.social-links 
      li 
        a(href='https://twitter.com/CoderDan' target='_blank') Twitter
      li 
        a(href='https://linkedin.com/in/iDanScott' target='_blank') LinkedIn
      li 
        a(href='https://github.com/CoderDan1' target='_blank') Github
      li 
        a(href='mailto://danscottsoft@gmail.com') E-Mail
    p.mt-1 Working on a new site coming soon! Hello from my Raspberry Pi :-)